
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary_color: #e62263;
    --color-1: #e11b8d;
    --color-2: #ffdbe9;
    --color-3: #ff98ce;
    --color-4: #ff64b8;
    --color-5: #ec3aaa;
    --color-6: #b30b57;
    --color-7: #cd4d87;
    --color-8: #f84c9a;
    --color-9: #f5c9dd;
    --color-10: #7a1b46;
    --color-11: #6b003a;
    --color-12: #f01d7a;
    --color-red: #e02027;
    --color-success: #5CB85C;
    --color-primary: #0d6efd;
    --color-text: #333333;
    --color-link: #0000FF;
    --color-link-hover: #FF0000;
    --color-link-visited: #9900FF;
    --color-kashmir-green: #003300;
    --color-midnight-blue: #000033;
    --color-burnt-umber: #330000;
    --color-peruvian-turquoise: #003333;
    --color-deep-purple: #330033;
    --color-rew-umber: #333300;
 




}
body {
    outline: 0;
    font-size: 14px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Arial', sans-serif!important;
    background: #f5c9dd;
    color: #333333;
    vertical-align: baseline;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}
.fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.right-slider__bottom ul {
    padding: 0;
    margin: 0 -2.5px;
    display: flex;
    flex-wrap: wrap;
}
.right-slider__bottom ul li {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 2.5px;
}
.breadcrumb li a {
    text-decoration: none;
}
/* textarea, input[type="text"], input[type="tel"], input[type="button"], input[type="submit"], input[type="password"], input[type="email"], input[type="number"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
} */