
<div class="coll-filter">
    <div class="filer-overlay">
    </div>
    <div class="container">
        <div class="coll-filter__list">
            <div class="filter-item filter-toggle">
                <div class="filter-item__title">
                    <a href="" class="btn-toggle__filter">
                        <i class="fa fa-filter"></i>
                        <span>Bộ lọc</span>
                    </a>
                    <strong class="filter-count__active">0</strong>
                </div>
                <div class="filter-item__dropdown">
                    <div class="dropdown-content">
                        <a href="" class="btn-close__tyle btn-close__filter">Đóng</a>
                        <div class="list-filter__active">
                            <div class="list-active">
                                <label for="" class="text">Đã chọn:</label>
                                <a class="btn-close__style btn-active btn-filter__active">
                                    Dưới 10 triệu
                                </a>
                                <a href="" class="btn-active btn-remove__active">Xóa tất cả</a>
                            </div>
                            <div class="dropdown-list__filter">
                                <div class="fil-item" data-group = "gia">
                                    <h5>Giá</h5>
                                    <div class="list-filter">
                                        <div class="filter-list__item">
                                            <a href="" class="btn-item__filter active">
                                                Dưới 10 triệu
                                            </a>
                                        </div>
                                        <div class="filter-list__item">
                                            <a href="" class="btn-item__filter active">
                                                Từ 10 đến 15 triệu
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="fil-item"data-group = "laptop theo nhu cau">
                                    <h5>Laptop theo nhu cầu</h5>
                                    <div class="list-filter">
                                        <div class="filter-list__item">
                                            <a href="" class="btn-item__filter active">
                                                Laptop văn phòng
                                            </a>
                                        </div>
                                        <div class="filter-list__item">
                                            <a href="" class="btn-item__filter active">
                                                Laptop gaming
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="fil-item"data-group = "cpu">
                                    <h5>CPU</h5>
                                    <div class="list-filter">
                                        <div class="filter-list__item">
                                            <a href="" class="btn-item__filter active">
                                                Laptop CPU Intel
                                            </a>
                                        </div>
                                        <div class="filter-list__item">
                                            <a href="" class="btn-item__filter active">
                                                Laptop CPU Intel Celeron
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="fil-item"data-group = "ram">
                                    <h5>RAM</h5>
                                    <div class="list-filter">
                                        <div class="filter-list__item">
                                            <a href="" class="btn-item__filter active">
                                                Laptop RAM 4BG
                                            </a>
                                        </div>
                                        <div class="filter-list__item">
                                            <a href="" class="btn-item__filter active">
                                                Laptop RAM 8BG
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-item filter-action has-active" data-group = "gia">
                <div class="filter-item-title">
                    <a href="" class="btn-toggle__filter active">
                        Giá
                        <i class="fa fa-caret-down"></i>
                    </a>
                </div>
                <div class="filter-item__dropdown pos-left">
                    <div class="filter-dropdown__top">
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter active">
                                <span>Dưới 10 triệu</span>
                            </a>
                        </div>
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter">
                                <span>Từ 10 đến 15 triệu</span>
                            </a>
                        </div>
                    </div>
                    <div class="filter-dropdown__bottom">
                        <a href="" class="btn btn-remove_-all">Bỏ chọn</a>
                        <a href="" class="btn btn-view__result">
                            Xem
                            <b>3</b>
                            kết quả
                        </a>
                    </div>
                </div>
            </div>
            <div class="filter-item filter-action has-active" data-group = "laptop theo nhu cau">
                <div class="filter-item-title">
                    <a href="" class="btn-toggle__filter active">
                        Laptop theo nhu cầu
                        <i class="fa fa-caret-down"></i>
                    </a>
                </div>
                <div class="filter-item__dropdown pos-left">
                    <div class="filter-dropdown__top">
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter active">
                                <span>Laptop Văn phòng</span>
                            </a>
                        </div>
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter">
                                <span>Laptop gaming</span>
                            </a>
                        </div>
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter">
                                <span>Laptop đồ họa</span>
                            </a>
                        </div>
                    </div>
                    <div class="filter-dropdown__bottom">
                        <a href="" class="btn btn-remove_-all">Bỏ chọn</a>
                        <a href="" class="btn btn-view__result">
                            Xem
                            <b>3</b>
                            kết quả
                        </a>
                    </div>
                </div>
                <div class="filter-item__dropdown pos-left">
                    <div class="filter-dropdown__top">
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter active">
                                <span>Laptop Văn phòng</span>
                            </a>
                        </div>
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter">
                                <span>Laptop gaming</span>
                            </a>
                        </div>
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter">
                                <span>Laptop đồ họa</span>
                            </a>
                        </div>
                    </div>
                    <div class="filter-dropdown__bottom">
                        <a href="" class="btn btn-remove_-all">Bỏ chọn</a>
                        <a href="" class="btn btn-view__result">
                            Xem
                            <b>3</b>
                            kết quả
                        </a>
                    </div>
                </div>
                <div class="filter-item__dropdown pos-left">
                    <div class="filter-dropdown__top">
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter active">
                                <span>Laptop Văn phòng</span>
                            </a>
                        </div>
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter">
                                <span>Laptop gaming</span>
                            </a>
                        </div>
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter">
                                <span>Laptop đồ họa</span>
                            </a>
                        </div>
                    </div>
                    <div class="filter-dropdown__bottom">
                        <a href="" class="btn btn-remove_-all">Bỏ chọn</a>
                        <a href="" class="btn btn-view__result">
                            Xem
                            <b>3</b>
                            kết quả
                        </a>
                    </div>
                </div>
                <div class="filter-item__dropdown pos-left">
                    <div class="filter-dropdown__top">
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter active">
                                <span>Laptop Văn phòng</span>
                            </a>
                        </div>
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter">
                                <span>Laptop gaming</span>
                            </a>
                        </div>
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter">
                                <span>Laptop đồ họa</span>
                            </a>
                        </div>
                    </div>
                    <div class="filter-dropdown__bottom">
                        <a href="" class="btn btn-remove_-all">Bỏ chọn</a>
                        <a href="" class="btn btn-view__result">
                            Xem
                            <b>3</b>
                            kết quả
                        </a>
                    </div>
                </div>
                <div class="filter-item__dropdown pos-left">
                    <div class="filter-dropdown__top">
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter active">
                                <span>Laptop Văn phòng</span>
                            </a>
                        </div>
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter">
                                <span>Laptop gaming</span>
                            </a>
                        </div>
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter">
                                <span>Laptop đồ họa</span>
                            </a>
                        </div>
                    </div>
                    <div class="filter-dropdown__bottom">
                        <a href="" class="btn btn-remove_-all">Bỏ chọn</a>
                        <a href="" class="btn btn-view__result">
                            Xem
                            <b>3</b>
                            kết quả
                        </a>
                    </div>
                </div>
                <div class="filter-item__dropdown pos-left">
                    <div class="filter-dropdown__top">
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter active">
                                <span>Laptop Văn phòng</span>
                            </a>
                        </div>
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter">
                                <span>Laptop gaming</span>
                            </a>
                        </div>
                        <div class="filter-list__item">
                            <a href="" class="btn-item__filter">
                                <span>Laptop đồ họa</span>
                            </a>
                        </div>
                    </div>
                    <div class="filter-dropdown__bottom">
                        <a href="" class="btn btn-remove_-all">Bỏ chọn</a>
                        <a href="" class="btn btn-view__result">
                            Xem
                            <b>3</b>
                            kết quả
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>