
<div class="modal fade" id="quick-view-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin sản phẩm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <form action="" method = "post">
                            <div class="col-lg-5 col-md-6">
                                <div class="image-zoom row" id = "product_img_modal">
                                    <img src="img/laptops_dell/dell1.webp" alt="" class="p-product-image-feature">
                                </div>
                                <div id="p-slider-product" class = "owl_pages">
                                    <ul class="owl-carousell owl-carousel-modal">
                                        <li class="product-thumb">
                                            <img src="img/laptops_dell/dell1.webp" alt="">
                                        </li>
                                        <li class="product-thumb">
                                            <img src="img/laptops_dell/dell2.webp" alt="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6 pull-right">
                                <div class="form-input">
                                    <div class="product-title p-title">
                                        <h1 id = 'modal-product-title'>CPU Intel Celeron G1610 (2.60GHz, 2M, 2 Cores 2 Threads) TRAY chưa gồm Fan</h1>
                                    </div>
                                    <div class="product-price">
                                        <span class="p-price" id = "product_price_modal">30,000</span>
                                    </div>
                                </div>
                                <div class="form-des" id = "product_description_modal">
                                Giới thiệu CPU Intel Celeron G1610 (2M Cache, 2.60 Ghz) tray
                                Intel Celeron Processor G1610 (2M Cache, 2.60 GHz) là dòng chip socket 1155 giá rẻ đang được sử dụng rộng rãi trên thị trường hiện nay.
                                CPU G1610 của Intel hỗ trợ socket 1155 tương thích với các dòng mainboard support 1155, khả năng xử lý tốt và tiết kiệm điện năng tiêu thụ hơn so với các dòng cpu 1155 cũ trước đây.
                                CPU socket 1155 Intel G1610 có 2 lõi, 2 luồng xử lý dữ liệu, giúp máy vi tính của quý khách hàng hoạt động nhanh hơn và khả năng xử lý dữ liệu được cải thiện so với các dòng chip cpu socket 1155 cũ của Intel trước đó.
                                Thông tin kỹ thuật CPU
                                Số lõi: 2
                                Số luồng: 2
                                Tần số cơ sở của bộ xử lý: 2.60 GHz
                                Bộ nhớ đệm: 2 MB Intel® Smart Cache
                                Bus Speed: 5 GT/s
                                TDP: 55 W...
                                </div>
                                <div class="form-input vid">
                                    <div class="m-vendor">
                                        <span>Nhà cung cấp:</span>
                                        <span id  = "product_brand_modal">Intel</span>
                                    </div>
                                    <div class="m-sku">
                                        <span>Mã sản phẩm:</span>
                                        <span id = "product_code_modal">111</span>
                                    </div>
                                </div>
                                <div class="form-input">
                                    <label for="">Số lượng</label>
                                    <input type="number" name = "quantity" min = "1" value = "1">
                                </div>
                                <div class="form-input">
                                    <button class="btn-addcart" type = "button">Thêm vào giỏ</button>
                                    <button disabled="" class="btn-detail addtocart btn-color-add btn-min-width btn-mgt btn-soldout" style="display: none;">Hết hàng</button>
                                    <div class="qv-readmore">
                                        <span>hoặc</span>
                                        <a href="" class="read-more p-url">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>